rect.selection {
  cursor: move !important;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  stroke: #545454;
  stroke-width: 2px;
  stroke-opacity: 1;
  fill: white;
  fill-opacity: 0.5;
}
