.intbt{
    display:none;
}

.podcast.sponsored {
    display: none;
}

.f_rvcWidget{
    display:none;
}

.f_rvcSection {
    display: none;
}

.f_book_1 {
    display: none;
}

/*.popular__cards>li {
    display: none;
}*/

#email-revalidation-form {
    display: none;
}

#vcrOptional1, #vcrOptional2{
    display: none;
}

#sponsored_links_section{
    display:none;
}

.announcement {
    display: none;
}

.announcement.presentation, .announcement.research {
    display: block;
}

.related__editorial {
    display: none;
}

ul.related__group {
    display: none;
}

#replyPopup {
    display: none;
    position: absolute;
    z-index: 1000;
    top: calc(100% - 15px);
    left: 85px;
    width: 100%;
}

#editCommentPopup {
    display: none;
    position: absolute;
    z-index: 1000;
    top: calc(100% - 15px);
    left: 40px;
    width: 100%;
}

#messagePopup {
    display: none;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#messagePopup .messageBox {
    position: relative;
    top: 50%;
    left: 0;
    float: left;
    display: block;
    width: 100%;
    margin-top: -40px;
}

#messagePopup .messageBox p, #messagePopup .messageBox .buttonWrapper {
    width: 100%;
    text-align: center;
}

.comment {
    position: relative;
}

#footerNewsletterEmailSuccess {
    display: none;
}

#footerNewsletterEmailError {
    display: none;
}

input[type=checkbox], input[type=radio] {
    display: none !important;
}

#resubmit-reply, #submit-reply, #reset-reply {
    color: white;
    font-size: .6875rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    font-smoothing: subpixel-antialiased;
}

p.allowed.error, p.allowed.time_expired {
    display: none;
    color: red;
}

p.allowed {
    text-align:left;
    display:block;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 15px;
}

#messagePopup {
    display: none;
}

.comment__form .unregistered {
    display: none;
}

.notificationDetails {
    display: none;
}
#shareActionMessage{
    display: none;
}

#sponsorParagraph {
    display:none;
}

.presentationnotesmessage{
    display:none;
}
.article__translated{
    display:none;
}
#showBookmarks{
    display:none;
}

/* start after deploy temp fixes for recommended topics on search page */
/*.search_page .topics ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0 -16px;
}
.search_page .topics ul li {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
}
@media only screen and (min-width: 768px) {
    .search_page .topics ul li {
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 45%;
        -ms-flex: 0 1 45%;
        flex: 0 1 45%;
        margin: 0 16px;
    }
    .search_page .topics ul li:nth-child(2n) {
        margin-left: auto;
    }
}*/
/* end : after deploy temp fixes for recommended topics on search page */
.form-control { padding: 0; text-align:left }