.classpath
.settings/
.project
.hg/*
docs/
examplesOld/
examplestemp/
fooDir/
old/
bin/
src/main/resources/org/xmlcml/ami2/plugins/phylotree/taxdump/
/target/
izpackhelp.txt
.idea
*.iml
logs/
logs/*


/release.properties.generated
