<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>MathJax example</title>
  <script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
</head>
<body>
<p>
<ol>
	<li>\(d(Complex _{\text{Internal}})/dt = Complex _{\text{total}}* e ^{\text{(–t)}}-k _{\text{escape }}* Complex _{\text{Internal}}(1)\)</li>

<li>\(d(Complex_{\text{Cytoplasmic}})/dt = k_{\text{escape }}* Complex_{\text{Internal}}-k_{\text{bind }}* Complex_{\text{Cytoplasmic}}-k_{\text{unpack }}* Complex_{\text{Cytoplasmic}}(2)\)</li>
<li>\(d(ComplexBound_{\text{Cytoplasmic}})/dt = k_{\text{bind }}* Complex_{\text{Cytoplasmic}}-k_{\text{NPC}}*ComplexBound_{\text{Cytoplasmic}}(3)\)</li>
<li>\(d(ComplexBound_{\text{NPC}})/dt = k_{\text{NPC }}* ComplexBound_{\text{Cytoplasmic}}-k_{\text{In}}* ComplexBound_{\text{NPC}}(4)\)</li>
<li>\(d(ComplexBound_{\text{Nuclear}})/dt = k_{\text{In}}*  ComplexBound_{\text{NPC}}-k_{\text{dissociation}}*ComplexBound_{\text{Nuclear}}(5)\)</li>
<li>\(d(Complex_{\text{Nuclear}})/dt = k_{\text{dissociation}}* ComplexBound_{\text{Nuclear}}-k_{\text{unpack}}* Complex_{\text{Nuclear}}(6)\)</li>
<li>\(d(Vector_{\text{Nuclear}})/dt = k_{\text{unpack}}* Complex_{\text{Nuclear}}+ k_{\text{dissociation}}* VectorBound_{\text{Nuclear}}(7)\)</li>
<li>\(d(Plasmid_{\text{Nuclear}})/dt = k_{\text{unpack}}* Complex_{\text{Nuclear}}+ k_{\text{dissociation}}* PlasmidBound_{\text{Nuclear}}(8)\)</li>
<li>\(d(Vector_{\text{Cytoplasmic}})/dt = k_{\text{unpack}}* Complex_{\text{Cytoplasmic}}-k_{\text{bind}}* Vector_{\text{Cytoplasmic}}(9)\)</li>
<li>\(d(Plasmid_{\text{Cytoplasmic}})/dt = k_{\text{unpack}}* Complex_{\text{Cytoplasmic}}-k_{\text{bind}}* Plasmid_{\text{Cytoplasmic}}-k_{\text{degradation}}* Plasmid_{\text{Cytoplasmic}}(10)\)</li>
<li>\(d(PlasmidBound_{\text{Cytoplasmic}})/dt = k_{\text{bind}}* Plasmid_{\text{Cytoplasmic}}-k_{\text{NPC }}*PlasmidBound_{\text{Cytoplasmic}}(11)\)</li>
<li>\(d(PlasmidBound_{\text{NPC}})/dt = k_{\text{NPC }}* PlasmidBound_{\text{Cytoplasmic}}-k_{\text{In}}* PlasmidBound_{\text{NPC}}(12)\)</li>
<li>\(d(PlasmidBound_{\text{Nuclear}})/dt = k_{\text{In}}* PlasmidBound_{\text{NPC}}-k_{\text{dissociation}}* PlasmidBound_{\text{Nuclear}}(13)\)</li>
<li>\(d(X\_Plasmid_{\text{Cytoplasmic}})/dt = k_{\text{degradation}}* Plasmid_{\text{Cytoplasmic}}-k_{\text{bind}}* X\_Plasmid_{\text{Cytoplasmic}}(14)\)</li>
<li>\(d(Protein)/dt = k_{\text{protein}}* Plasmid_{\text{Nuclear}}(15)\)</li>
</ol>
</p>
</body>
</html>
